{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Fibonacci Generator" />
    <meta name="keywords" content="Fibonacci, Generator" />
    <title>Fibonacci Generator</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Fibonacci Generator</h1>
        <form method="post">
          <label class="label" for="input"
            >How many numbers of the Fibonacci Sequence would you like to see?
            (1-3,000)</label
          ><br />
          <input
            class="input"
            name="input"
            id="input"
            type="number"
            min="1"
            max="3000"
            step="1"
            required
          />
          {% csrf_token %}
          <button type="submit">Generate</button>
        </form>
        <p class="info">
          <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence"
            >What is a Fibonacci sequence?</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
