{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fibonacci Result</title>
        <meta name="description" content="Fibonacci Generator" />
        <meta name="keywords" content="Fibonacci, Generator" />
        <link rel="stylesheet" href="{% static "css/app.css" %}">
    </head>
    <body>
        <div class="container">
        <div class="content result">
            <h1>Fibonacci Generator</h1>
            <h3>Your Result for {{ fibonacci.input }}:</h3>
            <p>{{ fibonacci.result }}</p>
            <button>
                <a class="back-btn" href={% url 'input_page' %}>Back</a>
            </button>
        </div>
    </div>
    </body>
</html>
