@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&display=swap");

body {
  font-family: "Albert Sans", sans-serif;
}

html {
  background: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

button {
  font-family: inherit;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-top: 10px;
  color: steelblue;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  justify-content: center;
  text-align: center;
}

.content {
  text-align: center;
  width: 50%;
  /* min-height: 2px; */
  max-width: 700px;
  margin: 10rem auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.input {
  margin-top: 10px;
  width: 20%;
}

.info {
  color: steelblue;
  text-decoration: none;
  font-size: 15px;
}

a:visited {
  color: steelblue;
}

.result {
  height: auto;
  max-height: 60vh;
  overflow: auto;
}

.back-btn {
  text-decoration: none;
}
